version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: postgres_restaurant_container
    environment:
      POSTGRES_DB: db_restaurant
      POSTGRES_USER: user_restaurant
      POSTGRES_PASSWORD: root
    ports:
      - "5435:5432"  # Mengubah port eksternal menjadi 5435
    volumes:
      - postgres_restaurant_data:/var/lib/postgresql/data
      - ./db/database-schema.sql:/docker-entrypoint-initdb.d/01-init.sql
      - ./db/seeder.sql:/docker-entrypoint-initdb.d/02-seeder.sql

volumes:
  postgres_restaurant_data:
