{{page-title "Home - Restaurant"}}

{{!-- Navbar Top --}}
<Navbar @isHome="true" />

{{!-- Carousel --}}
<Carousel/>

{{!-- About Us --}}
<AboutUs/>

{{!-- Opening Hours --}}
<OpeningHours/>

{{!-- Trending Menu --}}
<TrendingMenu/>

{{!-- Testimony --}}
<Testimony/>

{{!-- Spacer Bot --}}
<div class="spacer-bot"></div>

{{!-- Footer --}}
<Footer/>

{{!-- Navbar Bottom --}}
<NavbarBottom/>
