<div class="container text-center mb-5 mt-5">
  <h2>--- About Us ---</h2>
  <p>
    Selamat datang di Restaurant Nusantara! Kami berdedikasi untuk menyajikan aneka makanan khas Nusantara yang lezat dan autentik. Setiap hidangan kami disiapkan dengan bahan-bahan segar dan penuh cita rasa yang mewakili kekayaan kuliner Indonesia.
  </p>
  <p>
    Restaurant Nusantara lebih dari sekadar tempat makan, kami adalah jendela Anda untuk menjelajahi budaya dan tradisi Indonesia yang kaya. Nikmati keanekaragaman kuliner dari Sabang sampai Merauke melalui menu kami yang unik.
  </p>
  <p>
    Ayo, mulai petualangan kuliner Anda bersama kami! Di Restaurant Nusantara, setiap suapan adalah perjalanan yang menggugah selera dan memperkaya pengetahuan Anda tentang kekayaan kuliner Nusantara.
  </p>
</div>
