<div class="text-center">

{{#if @isFive}}
<h5 class="text-dark font-weight-bold">
    <span class="badge rounded-pill bg-dark">
        Customer VIP
    </span>
</h5>
<text>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.6;"></i>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
</text>
{{/if}}

{{#if @isFour}}
<h5 class="text-dark font-weight-bold">
    <span class="badge rounded-pill bg-danger">
        Customer Champion
    </span>
</h5>
<text>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
</text>
{{/if}}

{{#if @isThree}}
<h5 class="text-dark font-weight-bold">
    <span class="badge rounded-pill bg-success">
        Customer Loyal
    </span>
</h5>
<text>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
</text>
{{/if}}

{{#if @isTwo}}
<h5 class="text-dark font-weight-bold">
    <span class="badge rounded-pill bg-info">
        Customer Rising
    </span>
</h5>
<text>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
</text>
{{/if}}

{{#if @isOne}}
<h5 class="text-dark font-weight-bold">
    <span class="badge rounded-pill bg-warning">
        Customer Starter
    </span>
</h5>
<text>
    <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
</text>
{{/if}}

</div>