<footer style="background-color: black; color: white; text-align: center; padding: 10px; margin-top: 5px; margin-bottom: 5px;">
  <div class="container mt-5 mb-5">
    <div class="row text-center">
      <div class="col text-center">
        <a href="https://www.instagram.com/" style="color: white; margin-right: 10px; text-decoration: none;" target="_blank" rel="noopener noreferrer"><span class="fab fa-instagram" style="margin-right: 5px;"></span><br>Instagram</a>
      </div>
      <div class="col text-center">
        <a href="https://twitter.com/" style="color: white; margin-right: 10px; text-decoration: none;" target="_blank" rel="noopener noreferrer"><span class="fab fa-twitter" style="margin-right: 5px; font-size: 1.5em;"></span><br>Twitter</a>
      </div>
      <div class="col text-center">
        <a href="https://www.facebook.com/" style="color: white; margin-right: 10px; text-decoration: none;" target="_blank" rel="noopener noreferrer"><span class="fab fa-facebook" style="margin-right: 5px; font-size: 1.5em;"></span><br>Facebook</a>
      </div>
      <div class="col text-center">
        <a href="https://www.youtube.com/" style="color: white; text-decoration: none;" target="_blank" rel="noopener noreferrer"><span class="fab fa-youtube" style="margin-right: 5px;"></span><br>Youtube</a>
      </div>
    </div>
  </div>
   <section>Copyright © 2024 Muhammad Ali Imron, S.Kom. All rights reserved.</section>
</footer>


