<footer style="background-color: black; color: white; text-align: center; padding: 10px; margin-top: 5px; margin-bottom: 5px;">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col m-2">
        <h1 class="text-white">Restaurant Nusantara</h1>
        <p>Selamat datang di Restaurant Nusantara! Kami berdedikasi untuk menyajikan aneka makanan khas Nusantara yang lezat dan autentik. Setiap hidangan kami disiapkan dengan bahan-bahan segar dan penuh cita rasa yang mewakili kekayaan kuliner Indonesia.</p>
        
      </div>
      <div class="col m-2">
        <h1 class="text-white">Social Media</h1>
        <section class="m-3"><a href="https://www.instagram.com/" style="color: white; margin-right: 10px; text-decoration: none;" target="_blank" rel="noopener noreferrer"><span class="fab fa-instagram" style="margin-right: 5px;"></span><br>Instagram</a></section>
        <section class="m-3"><a href="https://twitter.com/" style="color: white; margin-right: 10px; text-decoration: none;" target="_blank" rel="noopener noreferrer"><span class="fab fa-twitter" style="margin-right: 5px; font-size: 1.5em;"></span><br>Twitter</a></section>
        <section class="m-3"><a href="https://www.facebook.com/" style="color: white; margin-right: 10px; text-decoration: none;" target="_blank" rel="noopener noreferrer"><span class="fab fa-facebook" style="margin-right: 5px; font-size: 1.5em;"></span><br>Facebook</a></section>
        <section class="m-3"><a href="https://www.youtube.com/" style="color: white; text-decoration: none;" target="_blank" rel="noopener noreferrer"><span class="fab fa-youtube" style="margin-right: 5px;"></span><br>Youtube</a></section>
      </div>
      <div class="col m-2">
        <h1 class="text-white">Contact Us</h1>
        <p>Email <br> restaurantnusantara@gmail.com</p>
        <p>Phone <br> +62 123 1234 1234</p>
        <p>Address <br> Bali - Indonesia</p>
      </div>
    </div>
  </div>
   <section><h3 class="text-white">Copyright © 2024 Muhammad Ali Imron, S.Kom. All rights reserved.</h3></section>
</footer>


