<div class="container text-center mb-5 mt-5">
  <h2>--- Opening Hours ---</h2>
  <div class="row mt-3 mb-3"><h5>Monday<br>09:00 - 18:00</h5></div>
  <div class="row mt-3 mb-3"><h5>Tuesday<br>09:00 - 18:00</h5></div>
  <div class="row mt-3 mb-3"><h5>Wednesday<br>09:00 - 18:00</h5></div>
  <div class="row mt-3 mb-3"><h5>Thursday<br>09:00 - 18:00</h5></div>
  <div class="row mt-3 mb-3"><h5>Friday<br>09:00 - 18:00</h5></div>
  <div class="row mt-3 mb-3"><h5>Saturday<br>09:00 - 21:00</h5></div>
  <div class="row mt-3 mb-3"><h5>Sunday<br>09:00 - 21:00</h5></div>
</div>