<div class="container text-center mb-5 mt-5">
  <h2>--- Testimony ---</h2>
  <div class="row">
  <div class="col-md-4 text-center">
    <div class="card mx-auto" style="width: 18rem;">
      <img style="width: 18rem; height: 25rem; object-fit: cover;" src="https://firebasestorage.googleapis.com/v0/b/restaurant-ordering-syst-2b90a.appspot.com/o/testi1.jpg?alt=media&token=e5606c5c-fe93-4adf-869c-f338213680cb" class="card-img-top" alt="Customer 1">
      <div class="card-body" style="height: 10rem;">
        <text>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.6;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
        </text>
        <p class="card-text">"Makanannya Enak Banget, Saya Suka Restaurant Nusantara"</p>
        <p class="card-text text-muted"> - Luna Maya - Actress</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="card mx-auto" style="width: 18rem;">
      <img style="width: 18rem; height: 25rem; object-fit: cover;" src="https://firebasestorage.googleapis.com/v0/b/restaurant-ordering-syst-2b90a.appspot.com/o/testi2.jpg?alt=media&token=c55b11e4-7c63-41ef-84d9-2ae272b44d7b" class="card-img-top" alt="Customer 2">
      <div class="card-body" style="height: 10rem;">
        <text>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.6;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
        </text>
        <p class="card-text">"Sumpah Enak Banget, Aku Suka Nasi Gorengnya, I Love Restaurant Nusantara"</p>
        <p class="card-text text-muted"> - Anya Geraldine - Actress</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="card mx-auto" style="width: 18rem;">
      <img style="width: 18rem; height: 25rem; object-fit: cover;" src="https://firebasestorage.googleapis.com/v0/b/restaurant-ordering-syst-2b90a.appspot.com/o/testi3.jpeg?alt=media&token=0f46f5bb-e76f-44ba-be36-778bb2266415" class="card-img-top" alt="Customer 3">
      <div class="card-body" style="height: 10rem;">
        <text>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.6;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.4;"></i>
            <i class="fa-solid fa-star fa-beat text-warning" style="--fa-beat-scale: 1.2;"></i>
        </text>
        <p class="card-text">"Restaurant Nusantara The Best, Enak banget sumpah... Authentic Bgt"</p>
        <p class="card-text text-muted"> - Prilly Latuconsina - Actress</p>
      </div>
    </div>
  </div>
</div>
</div>