<div class="container text-center mb-5 mt-5">
  <div class="row text-center mt-5 mb-5">
    <h3 class="align-self-center">--- Trending Menu ---</h3>
    <LinkTo @route="menu">
      <button class="btn btn-primary fa-beat" style="--fa-beat-scale: 1.1; --fa-animation-duration: 3s;" type="submit">
        <i class="fa-solid fa-utensils"></i> Menu
      </button>
    </LinkTo>
  </div>
</div>